.custom-input {
    border: 1px solid lightgray;
    border-radius: 4px;
    width: 40%;
    height: 40px;
    line-height: 2;
    margin-bottom: 10px;
    margin-top: 5px;
    align-content: center;
    font-weight: 100px;
    font-size: 16px;
    padding-left: 10px;
}