.flex-container {
    display: flex;
}

.balance-container {
    width: 80%;
    margin: 5px;
    display: flex;
}

#transaction-table {
    text-align: center;
    margin: 0 auto;
    margin-left: -80px;
}